<section class="user_info">
  <h1>
    <% if @user.avatar? %>
      <%= avatar_for @user %>
    <% else %>
      <%= gravatar_for @user %>
    <% end %>
    
    <%= @user.name %>
  </h1>
</section>
<section>
  <h2>
    <span class="label label-info"> <%= t('common.email') %> </span><br>
    <%= @user.email %>
  </h2>
  <h2>
    <span class="label label-info"> <%= t('common.region') %></span><br>
    <%= @user.region %>
  </h2>
  <h2>
    <span class="label label-info"> <%= t('common.profile') %></span><br>
    <%= @user.profile %>
  </h2>
</section>
<section>
  <h1>
    <%= link_to t('common.Microposts'), user_path(@user) %>
    <%= link_to t('common.followings'), followings_user_path(@user) %>
    <%= link_to t('common.followers'), followers_user_path(@user) %>
  </h1>
</section>