<h1>Edit profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :avatar %><br>
      <% if @user.avatar? %>
        <%= image_tag(@user.avatar.url, alt: @user.name, class: "gravatar") %>
        <span class="form-inline">
          <br><%= f.label :remove_avatar, "Remove avatar image" %>
          <%= f.check_box :remove_avatar, class: 'form-control'%><br>
        </span>
      <% else %>
        <%= gravatar_for @user %>
      <% end %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :region %>
      <%= f.text_field :region, class: 'form-control' %>

      <%= f.label :profile %>
      <%= f.text_area :profile, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Change my profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>